[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker-base.socket
Requires=docker-base.socket

[Service]
Type=notify
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
ExecStart=/usr/bin/docker daemon -H unix:///var/run/docker-base.sock -p /var/run/docker-base.pid --iptables=false --ip-masq=false --bridge=none --graph=/var/lib/docker-base --exec-root=/var/run/docker-base
MountFlags=slave
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes

[Install]
WantedBy=multi-user.target
